/*

1. globals
2. body
3. navbar
4. canvas(webcam preview)
5. transcript box
6. quick controlls (gtts, cam, upload)
7. bottom sheet (text to sign) 

*/

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #EAF1C5;
    overflow: auto;
}

.cointainer {
    display: block;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-color: #EAF1C5;
    overflow: auto;
}


/***************************/


/* navbar */


/**************************/

.navbar {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

#back-btn {
    cursor: pointer;
    padding-left: 15px;
    padding-top: 15px;
}

#cam-switch-btn {
    cursor: pointer;
    margin-left: 70%;
    padding-top: 10px;
}


/***************************/


/* canvas(webcam-preview) */


/**************************/

#webcam-banner {
    display: block;
    width: 100%;
    height: 25vh;
}

.webcam-view {
    display: none;
    width: 100%;
    height: 25vh;
}


/***************************/


/* transcript */


/**************************/

.transcript-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: auto;
    margin-top: 20px;
    height: 17rem;
    width: 90%;
    background: #EAF1C5;
    border: 2px solid rgba(107, 126, 36, 0.5);
    border-radius: 18px;
}

.transcript-tittle-bar-wrapper {
    background-color: #D4EC7E;
    border-radius: 18px 18px 0px 0px;
    width: 100%;
    height: 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

#gtranslate-btn {
    cursor: pointer;
    width: 20px;
    padding-top: 15px;
    padding-left: 15px;
}

#transcript-heading {
    width: 131px;
    padding-top: 9px;
}

#expand-transcript-btn {
    cursor: pointer;
    width: 23px;
    padding-top: 13px;
}

#textarea {
    display: block;
    width: 100%;
    height: 75%;
    overflow: auto;
}

.line {
    color: rgba(107, 126, 36, 0.6);
    font-size: 28px;
    padding-top: 7px;
    padding-left: 15px;
}

#last-line {
    color: #386B21;
}

#transcript-settings-btn {
    width: 15px;
    margin-left: auto;
    padding-right: 15px;
}


/***************************/


/* quick controlls */


/**************************/

.quick-controls {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
    width: 70%;
    background: #EAF1C5;
    border: 1px solid rgba(107, 126, 36, 0.5);
    box-shadow: 0px 4px 4px rgba(107, 126, 36, 0.25);
    border-radius: 45px;
    padding: 8px 10px 8px 10px;
}

.quick-btn {
    cursor: pointer;
    width: 22px;
    margin: auto;
}

#gtts-btn {
    cursor: pointer;
    margin-left: 8px;
    padding-left: 5px;
    padding: 8px 20px 8px 20px;
    border-radius: 45px;
}

#camera-btn {
    cursor: pointer;
    margin: 0px 15px 0px 15px;
    padding: 8px 20px 8px 20px;
    border-radius: 45px;
}

#upload-btn {
    cursor: pointer;
    margin-right: 8px;
    padding-right: 5px;
    padding: 8px 20px 8px 20px;
    border-radius: 45px;
}


/***************************/


/* bottom sheet */


/**************************/

#bottom-sheet {
    display: block;
    position: absolute;
    width: 100%;
    /* height: 50%; */
    bottom: 0;
}


/*************************/


/* meida quiries */


/************************/


/* desktop */

@media only screen and (min-width: 1080px) {
    .cointainer {
        max-width: 430px;
        /* border-left: 2px solid rgba(107, 126, 36, 0.5); */
        /* border-right: 2px solid rgba(107, 126, 36, 0.5); */
        -webkit-box-shadow: 0px 0px 100px 20px rgba(107, 126, 36, 0.3);
        -moz-box-shadow: 0px 0px 100px 20px rgba(107, 126, 36, 0.3);
        box-shadow: 0px 0px 100px 20px rgba(107, 126, 36, 0.3);
    }
    #bottom-sheet {
        height: auto;
    }
}